
.profil-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  text-align: center; 
  background-color: #f9f9f9; 
}


.profil-container img {
  max-width: 100%; 
  border-radius: 50%; 
  margin-bottom: 15px; 
}


.profil-container h1 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
  font-family: 'Georgia', serif; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  transition: color 0.3s ease; 
}

.profil-container p {
  margin: 5px 0;
  font-size: 16px;
  color: #555; 
}

.profil-container span {
     display: block; 
  margin-top: 10px; 
  font-size: 16px;
  color: #fff; 
  background-color: #546755; 
  padding: 10px 20px; 
  border-radius: 25px; 
  width: fit-content; 
  margin: 10px auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  font-family: 'Arial', sans-serif; 
  transition: transform 0.3s; 
}

.profile-container span:hover {
  transform: scale(1.1); 
}
  